body {
    text-align: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

#freelancers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.freelancerContent {
    display: flex;
    flex-direction: column;
}